@define-color border_bright #fafafa;
@define-color border_shade #1a1a1a;
@define-color bg #24292E;
@define-color bg_hov #32393f;
@define-color fg #f4f4f4;

#window,
#outer-box {
    color: @fg;
    background-color: @bg;
    font-size: 12pt;
    font-family: LiterationMonoNerdFont;
    padding: 0.7rem;
    height: 100%;
    border-width: 3px;

    border: 1px solid @border_bright;
}

#input {
    color: @fg;
    border: none;
    background-color: @bg_hov;
    border-bottom: 0.2rem solid @border_bright;
    border-right: 0.2rem solid @border_shade;
    border-left: 0.4px solid @border_bright;
    border-radius: 0.6rem;
    margin: 0rem 0rem 0.7rem 0rem;
}
/* box-shadow: inset 0 .1rem @border_shade, inset .01rem -.2rem  @border_bright; */

#entry:selected {
    border: none;
    background-color: @bg_hov;
    border-bottom: 0.2rem solid @border_bright;
    border-left: 0.4px solid @border_bright;
    border-right: 0.2rem solid @border_shade;
    border-radius: 0.6rem;
}

#entry {
    border-radius: 0.6rem;
    margin-bottom: 0.3rem;
    padding: 0.5rem 1rem;
}

#img {
    margin-right: 0.5rem;
}
