* {
    font-size: 12pt;
    font-family: UbuntuMonoNerdFont;
    color: #fff;
    border-radius: 0;
}

window#waybar {
    /* border-top: solid 2px #F4FFFC; */
    background: linear-gradient(#1b1e23 90%, rgba(27, 30, 35, 0));
}

#workspaces {
}

#workspaces button {
    /* box-shadow: inset -2px -2px #303030, inset 2px 2px #fff;
  margin: 0.2rem 0; */
}

#workspaces button:hover {
    /* box-shadow: inherit;
  text-shadow: inherit;
  background: #d4cfc9; */
}

#workspaces button.focused {
    /* box-shadow: inset -2px -2px #fff, inset 2px 2px #303030; */
}

#workspaces button.active {
}

#workspaces button.urgent {
}

@keyframes workspaces_urgent {
    to {
        border-bottom: 2px solid #f5594e;
        border-left: 0.5px solid #f5594e;
        border-right: 2px solid #360505;
        background-color: #ad2121;
    }
}

#workspaces button.focused:hover {
}

#workspaces button.active:hover {
}

.modules-left {
}

.modules-right {
    /* box-shadow: inset -2px -2px #fff, inset 2px 2px #202020;
  margin: 0.3rem;
  padding: 0rem; */
}
/* .modules-right button:hover {
    box-shadow: inset -2px -2px #fff, inset 2px 2px #202020;
    margin: .3rem;
    padding: 0rem;
} */

#mode,
#custom-power,
#window {
    /* box-shadow: inset -2px -2px #303030, inset 2px 2px #fff;
  border-radius: 0px;
  margin: 0.3rem;
  padding: 0rem 1rem; */
}

#custom-power:hover {
    /* background: #d4cfc9; */
}

@keyframes blink {
    to {
        background-color: #fafafa;
        color: #000000;
    }
}
